python-dotenv==1.0.1
azure-search-documents==11.4.0
azure-identity==1.17.1
openai==1.84.0
pyodbc==5.2.0
pandas==2.3.0
openpyxl==3.1.5
fastapi==0.115.6
uvicorn==0.32.1
pydantic==2.10.3
langchain-openai==0.2.14
azure-ai-projects==1.0.0b4
azure-monitor-opentelemetry==1.7.0
opentelemetry-instrumentation-openai-v2==0.54.2